*,
*::before,
*::after {
    box-sizing: border-box;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: linear-gradient(to bottom right, #fe0da6, #fea5de);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    overflow: hidden;
}
p {
    text-align: center;
    font-size: 30px;
    margin: 20px 0 20px 0;
  }
  
a {
    text-decoration: none;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    transition: all 0.5s;
  }

.clicked{
    background: repeating-radial-gradient(
    circle,
    purple,
    purple 10px,
    #fe59d0 10px, 
    #59fe95 20px
    );
}
h1{
    text-align: center;
}
/*Emoji Ideas shadow*/

p a {
    color: #FFF;
  }
p a:hover {
    -webkit-animation: neon1 1.5s infinite ;
    -moz-animation: neon1 1.5s infinite ;
    animation: neon1 1.5s infinite ;
    text-shadow: 0 0 5px #fff, 0 0 75px #ff00de;
  }

p a:hover {
    color: #ffffff;
  }
/*Content*/
.static{
    position: absolute;
    width: 400px;
    bottom: 20px;
    z-index: 1;
}
.animate{
    display: flex;
    justify-content: center;
}

/* Emoji declerations*/
.emoji{
    font-size: 30px;
    left: -5%;
}
/* Big */
.emoji-big-1{
    animation: emoji-big-1 8s infinite;
    animation-delay: 1s;
    position: absolute;
    animation-timing-function: linear; 
}
.emoji-big-2{
    animation: emoji-big-2 8s infinite;
    animation-delay: 2s;
    position: absolute;
    animation-timing-function: linear; 

}
.emoji-big-3{
    animation: emoji-big-3 8s infinite;
    animation-delay: 3s;
    position: absolute;
    animation-timing-function: linear; 

}
.emoji-big-4{
    animation: emoji-big-4 8s infinite;
    animation-delay: 4s;
    position: absolute;
    animation-timing-function: linear; 
}
.emoji-big-5{
    animation: emoji-big-5 8s infinite;
    animation-delay: 5s;
    position: absolute;
    animation-timing-function: linear; 
}
.emoji-big-6{
    animation: emoji-big-6 8s infinite;
    animation-delay: 6s;
    position: absolute;
    animation-timing-function: linear; 
}
.emoji-big-7{
    animation: emoji-big-7 8s infinite;
    animation-delay: 7s;
    position: absolute;
    animation-timing-function: linear; 
}
.emoji-big-8{
    animation: emoji-big-8 8s infinite;
    animation-delay: 8s;
    position: absolute;
    animation-timing-function: linear; 
}

/* medium */
.emoji-m-1{
    animation: emoji-m-1 6s infinite;
    animation-delay: 1.7s;
    position: absolute;
    animation-timing-function: linear; 
}
.emoji-m-2{
    animation: emoji-m-2 6s infinite;
    animation-delay: 2.7s;
    position: absolute;
    animation-timing-function: linear; 

}
.emoji-m-3{
    animation: emoji-m-3 6s infinite;
    animation-delay: 3.7s;
    position: absolute;
    animation-timing-function: linear; 

}
.emoji-m-4{
    animation: emoji-m-4 6s infinite;
    animation-delay: 4.7s;
    position: absolute;
    animation-timing-function: linear; 
}
.emoji-m-5{
    animation: emoji-m-5 6s infinite;
    animation-delay: 5.7s;
    position: absolute;
    animation-timing-function: linear; 
}
.emoji-m-6{
    animation: emoji-m-6 6s infinite;
    animation-delay: 6.7s;
    position: absolute;
    animation-timing-function: linear; 
}


/* Emoji animations */
/*big */
@keyframes emoji-big-1 {
    0%   { transform: translateX(-10vw) scale(4) translateY(-5vh);}
    100% { transform: translateX(120vw) scale(4) translateY(-5vh); }
}
@keyframes emoji-big-2 {
    0%   { transform: translateX(-10vw) scale(4) translateY(0vh);}
    100% { transform: translateX(120vw) scale(4) translateY(0vh); }
}
@keyframes emoji-big-3 {
    0%   { transform: translateX(-10vw) scale(4) translateY(-5vh);}
    100% { transform: translateX(120vw) scale(4) translateY(-5vh); }
}
@keyframes emoji-big-4 {
    0%   { transform: translateX(-10vw) scale(4) translateY(-10vh);}
    100% { transform: translateX(120vw) scale(4) translateY(-10vh); }
}
@keyframes emoji-big-5 {
    0%   { transform: translateX(-10vw) scale(4) translateY(-5vh);}
    100% { transform: translateX(120vw) scale(4) translateY(-5vh); }
}
@keyframes emoji-big-6 {
    0%   { transform: translateX(-10vw) scale(4) translateY(0vh);}
    100% { transform: translateX(120vw) scale(4) translateY(0vh); }
}
@keyframes emoji-big-7 {
    0%   { transform: translateX(-10vw) scale(4) translateY(-5vh);}
    100% { transform: translateX(120vw) scale(4) translateY(-5vh); }
}
@keyframes emoji-big-8 {
    0%   { transform: translateX(-10vw) scale(4) translateY(-10vh);}
    100% { transform: translateX(120vw) scale(4) translateY(-10vh); }
}

/* medium */
@keyframes emoji-m-1 {
    0%   { transform: translateX(-10vw) scale(2) translateY(-15vh);}
    100% { transform: translateX(120vw) scale(2) translateY(-15vh); }
}
@keyframes emoji-m-2 {
    0%   { transform: translateX(-10vw) scale(2) translateY(-5vh);}
    100% { transform: translateX(120vw) scale(2) translateY(-5vh); }
}
@keyframes emoji-m-3 {
    0%   { transform: translateX(-10vw) scale(2) translateY(-15vh);}
    100% { transform: translateX(120vw) scale(2) translateY(-15vh); }
}
@keyframes emoji-m-4 {
    0%   { transform: translateX(-10vw) scale(2) translateY(-20vh);}
    100% { transform: translateX(120vw) scale(2) translateY(-20vh); }
}
@keyframes emoji-m-5 {
    0%   { transform: translateX(-10vw) scale(2) translateY(-15vh);}
    100% { transform: translateX(120vw) scale(2) translateY(-15vh); }
}
@keyframes emoji-m-6 {
    0%   { transform: translateX(-10vw) scale(2) translateY(-5vh);}
    100% { transform: translateX(120vw) scale(2) translateY(-5vh); }
}